<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>My amazing calculator app</title>
</head>
<body>
  <nav>
    <li><a href="/">HOME</a></li>
    <li><a href="/basic_calc">BASIC CALC</a></li>
    <li><a href="/power">POWER</a></li>
    <li><a href="/sqrt">SQUARE ROOT</a></li>
    <li><a href="/bmi">BMI</a></li>
    <li><a href="/mortgage">MORTGAGE</a></li>
    <li><a href="/trip_calc">TRIP CALC</a></li>
  </nav>

  <div class="wrapper">
    <%= yield %>
  </div>
  <footer>
    <li><a href="/contact">CONTACT</a></li>
  </footer>
</body>
</html>